.title-text{
    font: normal 500 1.2rem/72px var(--urbanist);
}
.text-uppercase{
  text-transform: uppercase;
}

.button{
  padding: 0.8rem 2.2rem;
  font: normal 500 16px/20px var(--urbanist);
  position: relative;
  border: 3px solid transparent;
  border-radius: 4px;
}

.primary-button{
  background: var(--gradient-color);
  background-clip: padding-box;
  color: whitesmoke;
  transition: background 0.6s ease;
  box-shadow: var(--box-shadow);
}
.primary-button:hover{
  background: whitesmoke;
background-clip: padding-box;
color: black;
}
.primary-button::after, .secondary-button::after {
  position: absolute;
  top: -2px;
  bottom: -2px;
  right: -2px;
  left: -2px;
  background: var(--gradient-color);
  content:'';
  z-index: -1;
  border-radius: 4px;
}
.secondary-button{
background: white;
background-clip: padding-box;
transition: background .6sec ease;
}
.secondary-button:hover{
  background: var(--gradient-color);
  color: whitesmoke;
  box-shadow: var(--box-shadow);
}
.para{
  color:var(--text-color);
  font: normal 500 16px/25px var(--urbanist);
}
.font-urbanist{
  font-family:var(--urbanist);
}
button:focus,
button:active
button:hover
.btn:active
.active{
  outline: 0px !important;
  box-shadow: none !important;
}
.title-h1{
  font: normal bold 39px/40px var(--urbanist);
}
.navbar_fixed{
  position:fixed;
  width: 100%;
  top: -1px;
  left: 0;
  right: 0;
  background: white;
  box-shadow: var(--box-shadow);
  z-index: 999;
  transition: background 1s ease;
}